body {
    margin: 2rem 5rem;
    background-color: hotpink;
    max-width: 600px;
    box-sizing: border-box;
    
}

.inline-box {
    display: inline-flex;
    list-style-type: none;
}
.instruct-list {
    list-style-type: none;
}

.navigation h1 {
    margin-right: 3rem;
    margin-top: 15px;
    font-size: 2.5rem;;
}

.nav-list li {
    margin-right: 5rem;
    width: 150px;
}

.nav-list li span {
    position: absolute;
    top: 62px;
    
}

.short-text {
    font-size: 1.2rem;
}

hr {
    margin-top: -5px;
    margin-bottom: 10%;
    width: 83rem;
    border: 1px solid black;
}

.main {
    display: inline-flex;
    position: absolute;
}

.left-section,.right-section {
    display: block;
   
}

.left-section {
    margin-right: 6%;
}

.left-section .strawberry {
    width: 38rem;
    height: auto;
}

.right-section {
    margin-top: 2%; 
    padding-right: 5%;

}

.right-section h1 {
    font-size: 4rem;
    width: 40rem;
    margin-bottom: 0vw;
}

.right-icons {
    margin-left: 1vw;
}

.right-icons li {
    margin-right: 15%;
    border: 2px solid orange;
    border-radius: 20%;
   
}

.mini-size {
    font-size: 1rem;
}

.right-minicon {
    margin-top: 1.5%;
    
}


.right-prep {
    margin-left: 1%;
    
}
.right-prep li {
    width: 5rem;
    margin-right: 2%;
    
    
}
/* -------right message------*/
.right-message {
    margin-top: 2.5rem;
    margin-left: 7.5rem;
    margin-right: auto;
    padding: -20px;
    background-color: mistyrose;
    border: 4px solid red;
    width: 450px;
}

.right-message .message-bullseye {
    margin-left: 1vw;
}

.right-message .message-weight {
    margin-left: 2vw;
}

.right-message img {
    width: 30px;
    height: auto;
}
/* ----------right nutrition---------- */

.nutrition {
    margin-top: 2rem;
}

.nutrition > p {
    margin-left: 1.5rem;;
}
.nutrition .nutrition-box .box {
    width: 4.5rem;
    height: 6rem;
    border: 2px solid darksalmon;
    border-radius: 46%;
    background-color: darksalmon;
    margin-left: 1rem;
    
}

.box p {
    text-align: center;
}

.box .stat {
    margin-top: 0em;
    color: black;
    opacity: 0.5;
    font-size: 90%;
}

.box .circle {
    width: 3.5em;
    height: 3.5em;
    border: 1px solid antiquewhite;
    border-radius: 65%;
    margin-top: 0.5em;
    margin-right: auto;
    margin-left: auto;
    background-color: antiquewhite;
}

/*---------Resource-----------*/
.resource {
    margin-top: 2rem;
    border: 2px solid black;
    
   
}

.btn {
    width: 10rem;
    height: 3rem;
}
.resource,a{
    font-size: 1.5rem;
}
.resource p {
    font-size: 1em;
}
#ingredient,#equipment {
    width: 600px;
    height: 492px;
}
#ingredient {
    margin-top: -1.75rem;
    background-color: bisque;
    border: 2px solid orange;
    
    
}



#ingredient img{
    margin-right: 1rem;
}
#ingredient .ingre-name{
    margin-right: 3rem;
}

.btn-box {
    margin-left: 8.25rem;
    margin-right: auto;
    
}

.oil {
    margin-left: 18.8rem;
}
.mushroom {
    margin-left: 15.2rem;
}
.jam {
    margin-left: 14.38rem;
}
.grape {
    margin-left: 16.85rem;
}
.water {
    margin-left: 11.5rem;
}
.garlic {
    margin-left: 17.7rem;
}



#expand-toggle {
    display: none;
}

.label {
    width: 50px;
    height: 50px;
    padding: 3px;
}
#ingre-label {
    position: relative;
    top: -2.1rem;
    left: 3rem;
    background-color: darkorange
}


#expand-btn {
    position: relative;
    top: -2.1rem;
    left: 17rem;
    background-color: aquamarine;
}


#equipment {
    position: absolute;
    top: 40.5rem;
    visibility: collapse;
    border: 2px solid yellow;  
    background-color: aqua;
}

#expand-toggle:checked + #equipment {
    visibility: visible;
}


#equipment img {
    margin-right: 1rem;
}

.axe {
    margin-left: 22.5rem;
}
.atomic {
    margin-left: 23rem;
}
.eye {
    margin-left: 23.35rem;
}
.pan {
    margin-left: 26rem;
}
.cooker {
    margin-left: 21.4rem;
}
.signal {
    margin-left: 25.95rem;
}

/** --------------------**/
.instruction {
    margin-top: 3rem;
}
.instruction h2 {
    font-size: 1.8rem;
}
.instruction span {
    font-size: 1.5rem;
    opacity: 0.5;
}
.instruct-list li {
    margin-bottom: 0.5rem;
}
.number {
    margin-right: 1.5rem;
}

/**-----------------------**/
.bottom-line {
    margin-top: 80rem;
    width: 83rem;
    border: 1px solid black;
}

footer {
    
    margin-left: 36rem;
    width: 10rem;
    margin-top: -3rem;
}

footer p {
    font-size: 1.2em;
    text-align: center;
   
    
}




