body {
    
    margin: 0;
    border: 45px solid red;
    font-family: fantasy;
    box-sizing: border-box;
    max-width: 100%;
   
    min-width: 800px;
    color: azure;
    background-color: black;
    border-image: url(../images/YAS5.gif) 10 round;
    
    
    

    
    
}

.inline-style {
    display: inline-flex;
}

.nav{
 


    width: 100%;
  
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(180deg, rgb(204, 203, 207), rgb(88, 87, 88)) 1;
   
    background-color: black;
}

.nav ul {
    width: 70%;
    margin-left: 20vw;
    list-style: none;
}

.nav ul li {
    margin-right: 5%; 
    
}

.nav ul li:hover, .nav ul li:active {
    text-shadow: 2px 2px 5px white;

}



.logo-header {
  
    width: 100%;
}

.logo {
    margin-top: 1.5vh;
    margin-left: 4vw;
}

.logo-img:hover {
    box-shadow: -2px 2px 10px 10px white;
}



.logo h1 {
    margin-left: 8rem;
    margin-bottom: -1.15rem;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 215, 178), 0 0 30px #ff0080, 0 0 40px #ff25ff, 0 0 50px #cb00e6, 0 0 60px #ff6262, 0 0 70px #ea00ff;
    
}

.logo-img {
    width: 13rem;
    height: auto;
    border-left: 3px solid black;
    border-right: 7px groove black;
    border-bottom: 5px groove black;
    border-top: 5px groove black;
    margin-left: 5rem;
    
}

.icons {
   
    margin-left: 38vw;
    margin-top: 5vh;
  
    
    
}

.icons-img {
    margin-top: -15rem;
    margin-right: 1.5rem;
    width: 2rem;
    height: auto;
}

.recipe-container1 {
    margin-top: 5rem;
}

.recipe-img-container .burger:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 215, 178), 0 0 30px #ff0080, 0 0 40px #ff25ff, 0 0 50px #cb00e6, 0 0 60px #ff6262, 0 0 70px #ea00ff;
}

.recipe-img-container .cheesecake:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 245, 235), 0 0 30px #daff38, 0 0 40px #ff0d0d, 0 0 50px #ffe44a, 0 0 60px #ffe99f, 0 0 70px #ffe602;
}

.recipe-img-container .beef:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 245, 235), 0 0 30px #ff7139, 0 0 40px #9e0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff2234;
}

.recipe-box .chicken:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 245, 235), 0 0 30px #e03400, 0 0 40px #ff4800, 0 0 50px #ff7535, 0 0 60px #ff6123, 0 0 70px #ff0000;
}

.recipe-box .mac:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 245, 235), 0 0 30px #96ff34, 0 0 40px #74ff7b, 0 0 50px #34ffbb, 0 0 60px #76f6ff, 0 0 70px #8fff44;
}

.recipe-box .spaghetti:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 245, 235), 0 0 30px #351eff, 0 0 40px #3ab7ff, 0 0 50px #4400ff, 0 0 60px #1c86ff, 0 0 70px #6aaaff;
}



.recipe-container1,.recipe-box {
   
    width: 100%;
}


.recipe-img {
  
  
    width: 20vw;
    height: 25vw;
    min-width: 10rem;
    min-height: 15rem;
    border: 10px solid green;
    border-image: url(../images/recipe-gif/frame-1210509_640.png) 90 round;

}





.recipe-box .burger,.chicken {
    margin-left: 13vw;
   
}

.recipe-box .cheesecake,.mac {
    margin-left: 2vw;
    
}

.recipe-box .beef,.spaghetti {
    margin-left: 2vw;
    overflow: auto;

    
}

.recipe-desc {
    
    margin-right: -20rem;
    margin-top: 10rem;
}

.desc p {
    margin-top: 0;
    margin-right: 0;
    text-align: center;
    font-size: smaller;
    color: antiquewhite;
    max-width: 150px;
}

.burger-desc p {
    margin-left: -1.8vw;
}


.burger-desc,.chicken-desc {
    color: darkred;
    margin-left: 20vw;
}

.chicken-desc {
    margin-left: 19vw;
}



.cheese-desc {
    color: blueviolet;
    margin-left: 11vw;
}

.macncheese-desc {
    color: yellow;
    margin-left: 16vw;
}

.macncheese-desc p {
    margin-left: -2vw;
}

.beef-desc,.spag-desc {
    color: deeppink;
    margin-left: 15vw;
}

.spag-desc {
    margin-left: 12vw;
}

.spag-desc p {
    margin-left: -1vw;
}



.beef-desc {
    margin-left: 13vw;
}

.middle-line {
    margin-bottom: 2rem;
}


footer .footer-img {
    width: 5rem;
    height: auto;
    margin-top: 2vh;
    margin-left: 47.5%;
    
}











