body {
    
    margin: 0;
    border: 45px solid red;
    font-family: fantasy;
    box-sizing: border-box;
    max-width: 100%;
   
    min-width: 800px;
    color: azure;
    background-color: black;
    border-image: url(../images/YAS5.gif) 10 round;
    
    
    

    
    
}

.inline-style {
    display: inline-flex;
}

.nav{
 


    width: 100%;
  
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(180deg, rgb(204, 203, 207), rgb(88, 87, 88)) 1;
   
    background-color: black;
}

.nav ul {
    width: 70%;
    margin-left: 20vw;
    list-style: none;
}

.nav ul li {
    margin-right: 5%; 
   
   
}



.logo-header {
  
    width: 100%;
}

.logo {
    margin-top: 1.5vh;
    margin-left: 4vw;
}

.logo h1 {
    margin-left: 8rem;
    margin-bottom: -1.15rem;
    text-shadow: 2px 2px 1px black;
}

.logo-img {
    width: 13rem;
    height: auto;
    border-left: 3px solid whitesmoke;
    border-right: 7px groove whitesmoke;
    border-bottom: 5px groove whitesmoke;
    border-top: 5px groove whitesmoke;
    margin-left: 5rem;
    
}

.icons {
   
    margin-left: 38vw;
    margin-top: 5vh;
  
    
    
}

.icons-img {
    margin-top: -15rem;
    margin-right: 1.5rem;
    width: 2rem;
    height: auto;
}

.recipe-container1 {
    margin-top: 5rem;
}

.recipe-container1,.recipe-box {
   
    width: 100%;
}


.recipe-img {
  
  
    width: 20vw;
    height: 25vw;
    min-width: 10rem;
    min-height: 15rem;
    border: 10px solid green;
    border-image: url(../images/recipe-gif/frame-1210509_640.png) 90 round;

}





.recipe-box .burger,.chicken {
    margin-left: 13vw;
   
}

.recipe-box .cheesecake,.mac {
    margin-left: 2vw;
    
}

.recipe-box .beef,.spaghetti {
    margin-left: 2vw;
    overflow: auto;

    
}

.recipe-desc {
    
    margin-right: -20rem;
    margin-top: 10rem;
}

.desc p {
    margin-top: 0;
    text-align: center;
    font-size: smaller;
    color: antiquewhite;
}


.burger-desc,.chicken-desc {
    color: darkred;
    margin-left: 20vw;
}

.cheese-desc {
    color: blueviolet;
    margin-left: 14vw;
}

.macncheese-desc {
    color: yellow;
    margin-left: 15vw;
}

.beef-desc,.spag-desc {
    color: deeppink;
    margin-left: 15vw;
}

.middle-line {
    margin-bottom: 2rem;
}

footer {
    border: 2px solid green;
}

footer .footer-img {
    width: 5rem;
    height: auto;
    margin-top: 2vh;
    margin-left: 47.5%;
    
}











